<header>
  <div class="logo">CSV Uploader</div>
  <nav>
    <ul>
      <li><a href="/">Upload File</a></li>
      <li><a href="/list-of-files">List of Files</a></li>
    </ul>
  </nav>
</header>
